*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
}


/*Comienzo Container*/
.container{
    height: 100vh;
    width: 85vw;
    background-color: rgb(41, 41, 41);
    display:flex;
    flex-direction: column;
}

/*Comienzo Header*/
header{
    margin: 0 auto;
    color:white;
    padding: 15px;
}

/*Comienzo Nav*/
nav{
    display: inline-block;
    display: flex;
    align-items:center;
    justify-content: center;
    padding-top:15px;
}

nav ul li, .downloadbutton{
    list-style: none;
    display:inline-block;
    padding: 5px 15px;
    border: 1px solid white;
    border-radius: 3px;
    font-size: 11px;
}
a{
    text-decoration: none;
    color:white;
}

nav ul li .far, nav ul li .fas{
    font-size: 11px;
    padding: 3px;
}
/*Fin Header*/

/*Comienzo main*/
main{
    background-color: rgba(34, 26, 26, 0.774);
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .container_meme{
    background-color: gray;
    width: 450px;
    height: 450px;
}

main .container_meme .top{
    height: 20%;
    background-color: white;
    
    text-align: center;
    font-size: 25px;
}

main .container_meme .ingresa_img{
    height: 60%;
    background-color: gray;
}
.downloadbutton{
    margin: 15px;
}


/*Comienzo Right Panel*/
.right-panel{
    width: 15%;
    background-color: black;
}