*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}


/*Comienzo Container*/
.container{
    height: 100vh;
    width: 100%;
    background-color: rgb(41, 41, 41);
    display:flex;
    flex-direction: column;
}
.container img{
    width: 100%;
}
.containerClaro{
    background-color: #009b81; 
    
}

/*Comienzo Header*/
header{
    margin: 0 auto;
    color:white;
    padding: 15px;
    text-align: center;

}
.headerClaro{
    color: black;
}

/*Comienzo Nav*/
nav{
    display: inline-block;
    display: flex;
    align-items:center;
    justify-content: center;
    padding-top:15px;
}

nav ul li, .downloadbutton{
    list-style: none;
    display:inline-block;
    padding: 5px 15px;
    border: 1px solid white;
    border-radius: 3px;
    font-size: 11px;
}
nav ul li .claro{
    border: 1px solid black;
}



li .btn-color-mode{
    padding: 0%;
    width: 100px;
    border-radius: 3px;
    font-size: 11px;
    background-color: transparent;
}


a{
    text-decoration: none;
    color:white;
}

nav ul li .far, nav ul li .fas{
    font-size: 11px;
    padding: 3px;
}
/*Fin Header*/

/*Comienzo main*/
main{
    background-color: rgba(34, 26, 26, 0.438);
    height: 100vh;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .container_meme{
    /*background-color: gray;*/
    width: 450px;
    height: 450px;
    background-image: none;
}

main .container_meme .top{
    height: 20%;
    background-color: white;
    z-index: 99;
    text-align: center;
    font-size: 25px;
}

.container_meme .top .contorno-claro{
    text-shadow: 2px 2px 3px white;
    height: 90px;
    text-align: center;
    font-size: 25px;
    padding-top: 15px;
}

.container_meme .top .contorno-oscuro{
    text-shadow: 2px 2px 3px black;
    height: 90px;
    text-align: center;
    font-size: 25px;
    padding-top: 15px;
}


.p-transparente{
    height: 90px;
    text-align: center;
    font-size: 25px;
    padding-top: 15px;
}

.close{
    display:none;
}

main .container_meme .ingresa_img{
    height: 60%;
    background-color: gray;
    background-position: center;
    background-size: cover;
}
.downloadbutton{
    margin: 15px;
}

img{
    filter: grayscale(0%);
}

/* Boton de descarga de la imagen*/
#boton_descarga_img_cargada{

    width: 150px;
    height: 50px;
    font-size: 1rem;
    border-radius: 50px;
    color: white;
    margin-top: 20px;
    margin-bottom: 80px;
    background-color: rgba(41, 41, 41, 0.411);
}